# Byte-compiled / optimized / DLL files
__pycache__/ 
*.pyc

# temp files
*.o
check.csv
check.xlsx
*.png
temp.csv
temp_plot.py
temp_use.py
GGanalysis.egg-info
check_weapon_4.py

# test files
test.py
temp.py
.DS_Store

# not working
setup.py
MANIFEST.in

# vs code setting
.vscode/